<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Lato|Oleo+Script" rel="stylesheet">
    </head>
    <body class="site">
        <header>
        {% include 'logo.html.twig' %}
        </header>
        <div class="main">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </div>
        <footer>
            <div class="container">
            </div>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>