<a href="{{path('index')}}">
    <div class="logo-holder">
        <div class="logo-text">
            <div class="logo-title">
                Travolta
            </div>
            <div class="logo-subtitle">
                Your movie demo app
            </div>
        </div>
        <div class="logo-image">
            <img alt="logo" src="{{asset('/images/john-travolta.svg')}}" width="60">
        </div>
    </div>
</a>