// Red
$highlight: #E23E57;
// Medium blue
$accent: #65799B;
// light blue
$subtleAccent: #E2EFF1;
$backgroundSection: #E2EFF1;
// Dark blue
$text: #555273;
// White
$background: #F1F1F1;
$black: #222244;
$diluted: #565694;

// Type sizes
$h1: 3.998em;
$h2: 2.827em;
$h3: 1.999em;
$h4: 1.414em;
$small: 0.707em;

body, html {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
    color: $black;
    background-color: $background;
}

.container {
    width: 960px;
    @media (max-width: 1024px) {
        width: 100%;
    }
    margin: 0 auto 0px auto;
}

.title {
    font-size: $h1;
}

a {
    text-decoration: none;
    &:visited {
        text-decoration: none;
    }
}
.list {
    padding: 16px 0;
    margin: 16px auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 850px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 580px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 430px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 8px 4px;
        //flex-basis: 230px;
        //flex-grow: 1;
        border-bottom: 1px solid $subtleAccent;
        padding: 8px;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .item-title {
            color:$black;
            font-weight: 700;
        }
        .item-details {
            margin-top: 8px;
            display: flex;
            justify-content: space-between;
        }
        .movie-director, .movie-year {
            color: $diluted;
            font-size: $small;
        }
    }
}

.logo-holder {
    background-color: $highlight;
    color: $background;
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 0 4px 16px 4px;
    .logo-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 16px;
        .logo-title {
            font-family: 'Oleo Script', cursive;
            font-size: $h1;
        }
        .logo-subtitle {
            margin-top: -16px;
            text-align: right;
        }
    }
}

.movie {
    padding: 16px 0;
    margin: 16px auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    .header {
        margin: 0 12px;
        img {
            object-fit: cover;
            width: 100%;
            height: 300px;
        }
    }
    .movie-details {
        margin: 0 12px;
        display: flex;
        flex-direction: column;
        background-color: $backgroundSection;
        padding: 16px 32px 16px 32px;
        .movie-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                font-size: $h1;
                font-weight: 900;
            }
            .year {
                background-color: $highlight;
                width: 60px;
                height: 60px;
                border-radius: 30px;
                color: $background;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                text-align: center;
            }
        }
        .directed {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            font-size: $h4;
            color: $accent;
            .directed-by {
                flex-basis: 100px;
                flex-grow: 1; 
            }
            .director {
                text-align: right;
                font-weight: 700;
                flex-basis: 100px;
                flex-grow: 1; 
            }
        }
    }
}

.form-container {
    padding: 16px;
    align-self: stretch;
    background-color: white;
}

.form-holder {
    @media (min-width: 630px) {
        width: 600px;
        margin: 0 auto;
    }
    width: 100%;
}

.form {
    padding-right: 16px;
}

input, select, textarea {
    width: 100%;
    font-weight: 400;

    display: block;
    margin: 0.25em 0;

    line-height: normal;

    font: inherit;
    font-weight: 400;
    outline: none;
}

button, .button {
    border: 0;
    margin-top: 16px;
    padding: 8px 16px;
    text-transform: uppercase;
    align-self: center;
    background-color: $highlight;
    color: $background;
    font-weight: bold;
    text-align: center;
}

label {
    margin-top: 0.5em;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
}

footer {
    margin-top: 16px;
    padding: 32px 0;
    background-color: $accent;
    color: white;
    a, a:visited, a:hover {
        color: white;

    }
}

.flash-notice {
    background-color: $accent;
    color: white;
    margin: 16px 0;
    padding: 8px 16px;
}